%h1= @profile.full_name

= image_tag @profile.avatar.url(:thumb), :id => 'avatar'

%p
  = @profile.address
%p
  = @profile.postal_code
  = @profile.city
%p
  = @profile.province
  = @profile.country
%p
  = link_to raw('Edit &raquo;'), edit_profile_path, :class => 'button'