%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = hidden_field_tag :invitation_id, params[:invitation_id]
  = hidden_field_tag :invitation_token, params[:invitation_token]
  %p
    = f.label :login
    = f.text_field :login
    = f.error_message_on :login, :html_tag => :span
  %p
    = f.label :password
    = f.password_field :password
    = f.error_message_on :password, :html_tag => :span
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = f.error_message_on :password_confirmation, :html_tag => :span
  %p
    = f.submit "Sign up"
