%h1== Invitation #{@invitation.id}

%p{ :id => "invitation_status", :class => @invitation.status }
  = @invitation.status_name

%p
  %b Targeted email:
  = @invitation.target_email
%p
  %b Sent on:
  = @invitation.created_at.strftime('%Y-%m-%d %H:%M')
%p
  %b Subject:
  = @invitation.subject
%p
  %b Content:
  %br/
  = @invitation.content
- unless user_signed_in?
  %p#invitation_options
    = link_to 'Accept', accept_invitation_path(@invitation, :token => params[:token]), :id => 'accept_invitation'
    = link_to 'Reject', reject_invitation_path(@invitation, :token => params[:token]), :id => 'reject_invitation', :confirm => 'Are you sure?'