!!!
%html
  %head
    %title Sage Test Project
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, 'html5', 'jquery.tools.min', 'jquery.jgrowl'
    = csrf_meta_tag
    - flash.each do |type, message|
      %meta{ :name => 'flash', :type => type, :content => message }
  %body
    #overlay
      .contentWrap
    %header
      = render :partial => 'shared/menu'
    %article
      %section
        = yield